<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
                   xmlns:th="http://thymeleaf.org"
                   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer class="bg-dark text-center text-white mt-50" th:fragment="footer">

        <div class="container p-4">

            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="bi bi-instagram"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="bi bi-github"></i></a>
            </section>

            <!-- Section: Text -->
            <section class="mb-4">
                <p>
                    Aplicação desenvolvida por Bleiner e Larissa para avaliação de PWS3.
                </p>
            </section>
            <!-- Section: Text -->


        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">heigostoso</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</footer>
</body>
</html>