<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
                   xmlns:th="http://thymeleaf.org"
                   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="header">
    <div class="fixed-top">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">Collapsed content</h5>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <nav class="navbar navbar-light bg-light">
            <button class="navbar-toggler toggler-example purple darken-3" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img src="/img/heigostoso.png" alt="">
            <a href="/usuario/logout"><i class="bi bi-box-arrow-in-right ico-2 mr-4"></i></a>
            <a href="/usuario/login"><i class="bi bi-person-circle ico-2 mr-2"></i></a>
        </nav>
    </div>
</header>
</body>
</html>